<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="C#"/>
      </watched>
      <dir
        name="Business">
        <dir
          name="Config"/>
        <dir
          name="Service">
          <dir
            name="Auth"/>
          <dir
            name="BrandService"/>
          <dir
            name="CategoryService"/>
          <dir
            name="ChannelCrawlService"/>
          <dir
            name="DashboardService"/>
          <dir
            name="FeatureService"/>
          <dir
            name="FirebaseService"/>
          <dir
            name="HangfireService"/>
          <dir
            name="HashtagService"/>
          <dir
            name="LocationService"/>
          <dir
            name="NotificationService"/>
          <dir
            name="OrganizationService"/>
          <dir
            name="PakageService"/>
          <dir
            name="PaymentService"/>
          <dir
            name="PlanService"/>
          <dir
            name="PlatformService"/>
          <dir
            name="ReactionTypeService"/>
          <dir
            name="Rule"/>
          <dir
            name="ScheduleService"/>
          <dir
            name="SignalR"/>
          <dir
            name="SubscriptionService"/>
          <dir
            name="TransactionDepositService"/>
          <dir
            name="UserService"/>
          <dir
            name="WalletService"/>
          <dir
            name="WatchlistService"/>
        </dir>
        <dir
          name="Utils"/>
        <dir
          name="obj">
          <dir
            name="Debug">
            <dir
              name="net5.0"/>
          </dir>
          <dir
            name="Release">
            <dir
              name="net5.0"/>
          </dir>
        </dir>
      </dir>
      <dir
        name="DataAccess">
        <dir
          name="Constants"/>
        <dir
          name="Entities"/>
        <dir
          name="Enum"/>
        <dir
          name="Models">
          <dir
            name="BranModel"/>
          <dir
            name="CategoryModel"/>
          <dir
            name="ChannelCrawlModel">
            <dir
              name="CompareModel"/>
            <dir
              name="FacebookStatistic"/>
            <dir
              name="TiktokStatistic"/>
            <dir
              name="YoutubeStatistic"/>
          </dir>
          <dir
            name="ChannelRecordModel"/>
          <dir
            name="ConfigModel"/>
          <dir
            name="FeatureModel"/>
          <dir
            name="FeaturePlanModel"/>
          <dir
            name="Firebase"/>
          <dir
            name="HashtagModel"/>
          <dir
            name="LocationModel"/>
          <dir
            name="LoginUser"/>
          <dir
            name="NotificationModel"/>
          <dir
            name="OfferModel"/>
          <dir
            name="OrganizationModel"/>
          <dir
            name="PackageModel"/>
          <dir
            name="Pagination"/>
          <dir
            name="PaymentModel"/>
          <dir
            name="PlanModel"/>
          <dir
            name="PlatFormModel"/>
          <dir
            name="PostCrawlModel"/>
          <dir
            name="PriceModel"/>
          <dir
            name="ReactionModel"/>
          <dir
            name="ReactionTypeModel"/>
          <dir
            name="Role"/>
          <dir
            name="SubscriptionModel"/>
          <dir
            name="TransectionDepositModel"/>
          <dir
            name="UserTypeModel"/>
          <dir
            name="WalletModel"/>
          <dir
            name="WatchlistModel"/>
        </dir>
        <dir
          name="Repository">
          <dir
            name="BrandRepo"/>
          <dir
            name="CategoryRepo"/>
          <dir
            name="ChannelCrawlRepo"/>
          <dir
            name="ChannelRecordRepo"/>
          <dir
            name="FeaturePlanRepo"/>
          <dir
            name="FeatureRepo"/>
          <dir
            name="Generic"/>
          <dir
            name="HashtagRepo"/>
          <dir
            name="LocationRepo"/>
          <dir
            name="NotificationRepo"/>
          <dir
            name="OrganizationRepo"/>
          <dir
            name="PackageRepo"/>
          <dir
            name="PlanRepo"/>
          <dir
            name="PlatformRepo"/>
          <dir
            name="PostRepo"/>
          <dir
            name="ReactionRepo"/>
          <dir
            name="ReactionTypeRepo"/>
          <dir
            name="Role"/>
          <dir
            name="SubscriptionRepo"/>
          <dir
            name="TransactionDepositRepo"/>
          <dir
            name="UserRepo"/>
          <dir
            name="UserTypeRepo"/>
          <dir
            name="WalletRepo"/>
          <dir
            name="WatchlistRepo"/>
        </dir>
        <dir
          name="obj">
          <dir
            name="Debug">
            <dir
              name="net5.0"/>
          </dir>
          <dir
            name="Release">
            <dir
              name="net5.0"/>
          </dir>
        </dir>
      </dir>
      <dir
        name="WebAPI">
        <dir
          name="Controllers"/>
        <dir
          name="obj">
          <dir
            name="Debug">
            <dir
              name="net5.0"/>
          </dir>
          <dir
            name="Release">
            <dir
              name="net5.0">
              <dir
                name="win-x86"/>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="C#"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""
    diff_flags="1"/>
  <csharp_options
    analyze_reference_dlls="true"
    count_standard_in_max_inheritance="false"
    locate_system_classes="UseDefaultFramework"
    save_comments_associated_with_entities="true"/>
  <dependency_options
    exclude_standard="true"
    use_includes="true"
    mode="link"/>
  <imports/>
</project>
